<input #changeFile type="file" (change)="loadFile($event.target.files[0])" class="none">
<div class="center-container">
  <button *ngIf="questions.length === 0" mat-raised-button color="primary" (click)="clickChangeFile()">
    <mat-icon>insert_drive_file</mat-icon>
  </button>
  <mat-card *ngIf="questions.length > 0">
    <mat-card-title>{{questions[currentQuestionIndex].question}}</mat-card-title>
    <mat-card-content *ngIf="showingAnswer">{{questions[currentQuestionIndex].answer}}</mat-card-content>
    <mat-card-footer class="text-center">
      <button mat-fab color="primary" class="left" (click)="previousQuestion()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button *ngIf="!showingAnswer" mat-fab (click)="toggleAnswer()">
        <mat-icon>lightbulb_outline</mat-icon>
      </button>
      <button *ngIf="showingAnswer" mat-fab (click)="toggleAnswer()">
        <mat-icon>highlight</mat-icon>
      </button>
      <button mat-fab color="primary" class="right" (click)="nextQuestion()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>
</div>
